.toolbar_contnet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .toolbar_contener {
        height: 50px;
        background-color: #2f4050;
        i {
            font-size: 40px;
            padding: 0 7px;
            color: #838790;
            height: 50px;
            line-height: 50px;
        }
    }
}