<div>
    <div class="top_content">
        <i class="material-icons" cursor-pointer (click)="openaddOrganization()">
            add
        </i>
    </div>

    <collapsible-table [type]="'accordion'" bordered>

        <thead style="background-color:#0277bd">
            <collapsible-table-row>
                <th class="th-head">index</th>
                <th class="th-head">name</th>
                <th class="th-head">title</th>
                <th class="th-head">edit</th>
            </collapsible-table-row>
        </thead>

        <tbody *ngFor="let item of organizationsData;let ind=index">
            <collapsible-table-row class="collapsible" [detail]="detail1">
                <td class="td-header">{{ind+1}}</td>
                <td class="td-header">{{item.name}}</td>
                <td class="td-header">{{item.title}}</td>
                <td class="th-header" text-align-center (click)="onClickEdit(item)"><i class="material-icons">edit</i>
                </td>
            </collapsible-table-row>
        </tbody>
    </collapsible-table>
</div>