.inner {
    .name {
        background: #0277bd;
        height: 50px;
        color: white;
        padding: 10px 15px;
        text-align: center;
        font-size: 25px;
    }
    .item {
        padding: 10px 15px;
        .item_name {
            font-size: 20px;
            color: #0277bd;
        }
    }
}

:host ::ng-deep  .mat-raised-button.mat-primary {
    background-color: #0277bd;
}

.buttton_items {
    width: 95%;
    .save_button {
        width:  120.8px;;
        height: 42px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        background-color: #0277bd; 
        display: inline-block;
        text-align: center;
        border: none;
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
    }
}