<div class="inner info-block">
    <div class="back">
        <i class="material-icons" cursor-pointer routerLink="/home">
            reply
        </i>
    </div>

    <div class="inner_content" *ngIf="values">
        <div class="info-block">
            <p><b>Id: </b>{{id}}&nbsp;&nbsp;&nbsp;&nbsp;<b>Status: </b>{{status}}</p>
            <p>
                <button mat-raised-button cursor-pointer color="primary" *ngFor="let item of  buttons"
                        (click)="certificatesStatuses(item._id)">{{item.name}}</button>
            </p>
        </div>

        <div class="container" *ngFor="let item of listItemData">
            <div class="name" font-family-Roboto>{{item.title}}</div>
            <div class="item" *ngFor="let value of item.fields">
                <!--  [required]="" -->

                <app-input *ngIf="!value.hide" [(ngModel)]="values[item.key][value.key]" [inputType]="value.type"
                    [inputTitle]="value.title" [disable]="!value.edit"></app-input>

            </div>
            <div class="buttton_items" margin-auto>
                    <button class="save_button" cursor-pointer (click)="updateCertificate()"><span color-white>save</span></button>
            </div>
        </div>
    </div>
</div>
