<div class="inner">
    <div class="back">
        <i class="material-icons" cursor-pointer routerLink="/home">
            reply
        </i>
    </div>

    <div class="inner_content" *ngIf="values">
        <p><b>Id: </b>{{id}}</p>
        <p><b>Status: </b>{{status}}</p>
        <div style="padding:15px">
            <button mat-raised-button cursor-pointer color="primary" *ngFor="let item of  buttons"
                style="margin-left: 20px" (click)="certificatesStatuses(item._id)">{{item.name}}</button>
        </div>

        <div class="container" *ngFor="let item of listItemData">
            <div class="name" font-family-Roboto>{{item.title}}</div>
            <div class="item" *ngFor="let value of item.fields">
                <!--  [required]="" -->

                <app-input *ngIf="!value.hide" [(ngModel)]="values[item.key][value.key]" [inputType]="value.type"
                    [inputTitle]="value.title" [disable]="!value.edit"></app-input>

            </div>
            <div class="buttton_items" margin-auto>
                    <button class="save_button" cursor-pointer (click)="updateCertificate()"><span color-white>save</span></button>
                </div>
        </div>
        </div>
    </div>
