.main_layout{
    padding: 30px;
    margin-top: 50px;
    margin-left: 0px;
}

.openMenu {
    margin-left: 300px;
    transition: all 0.5s;
   
}

.closeMenu {
    margin-left: 44px;
    transition: all 0.5s;
}