.main_layout{
    margin-left: 0px;
    padding: 0 0.5em;
    margin-top: 50px;
}

.openMenu {
    margin-left: 287px;
    transition: all 0.5s;
   
}

.closeMenu {
    margin-left: 44px;
    transition: all 0.5s;
}