.signIn_content {
    .signIn_container {
      justify-content: center;
      .top_content {
        margin-top: 20px;
        color: #2196f3;
        font-size: 30px;
        text-align: center;
      }
      .data_content {
        margin-top: 30px;
        .login_content,
        .password_content {
          width: 400px;
          height: 42px;
          object-fit: contain;
          border-radius: 4px;
          box-shadow: 0 1px 4px rgba(24,28,33,0.012);
          border: 1px solid rgba(24,28,33,0.06);
          background-color: white;
          .icon_contet {
            width: 48px!important;
            height: 40px!important;
            color: #9E9E9E !important;
            background: #ffffff !important;
            border-radius: 4px 0 0 4px !important;
            border-right: 1px solid rgba(24, 28, 33, 0.06);
          }
          .login,
          .password {
            width: calc(100% - 48px);
            border: none;
            padding: 0 10px;
          
          }
        }
        .password_content {
          margin-top: 30px;
        }
      }
      .buttton_items {
          margin-top: 30px;
          justify-content: space-around;
          .save_button {
            //   width: 301.8px;
            //   height: 42px;
            //   border-radius: 30px;
            //   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
            //   background-color: #0277bd;
            //  background-image: linear-gradient(to right, #7283a7, #b1bace);
            //   display: inline-block;
            //   text-align: center;
            //   border: none;
            //   font-size: 12px;
            //   font-style: normal;
            //   font-stretch: normal;
            width: 100px!important;
            height: 44px!important;
            border-radius: 3px!important;
            background-color: #2196f3!important;
            display: inline-block!important;
            text-align: center!important;
            border: none!important;
            font-size: 14px!important;
            font-style: normal!important;
            font-stretch: normal!important;
            box-shadow: none !important;
          }
      }
    }
  }
  
  .opacity {
    opacity: 0.5;
  }
  