.toolbar_contnet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .toolbar_contener {
        height: 50px;
        background-color: white;
        i {
            font-size: 40px;
            padding: 7px 7px;
            color: #0277bd;
        }
    }
}