.table_content {
    .top_content {
        background: white;
        justify-content: space-between;
        background-image: linear-gradient(to right, #7283a7, #b1bace);
    }
    .table_container {
        .container {
            justify-content: space-between;
            background: #b1bace;
        }
    }
    .chiled_information,
    .staffRecording_information {
        background: white;
        justify-content: space-between;
        background: #7283a7;
        border-bottom: 1px solid white;
    }
}
.th-head{
    color: white;
}
.td-header{
    text-align: center;
    height: 40px;
    background: #eaeaea;
    border-bottom: 1px solid white;
}