<div class="add_content" full-width>
    <div class="add_conteiner" width-75 margin-auto>
        <form [formGroup]="statusesGroup">
            <div class="name_content" display-flex margin-auto>
                <div class='icon_contet' display-flex>
                    <i class="material-icons" margin-auto>
                        person
                    </i>
                </div>
                <input class="name" full-height formControlName="name" placeholder="name">
            </div>
            <div class="description_content" display-flex margin-auto>
                <div class='icon_contet' display-flex>
                    <i class="material-icons" margin-auto>
                        person
                    </i>
                </div>
                <input class="description" full-height formControlName="description" placeholder="description">
            </div>
            <div class="roles" *ngFor="let roles of rolesData">
                <input placholder="roles" type="checkbox" value="roles._id"><span>{{roles.name}}</span>
            </div>
            <div class="line" full-width></div>
            <div class="congo" *ngFor="let item of statusData">
                <input placholder="statuses" type="checkbox" value="item._id"><span>{{item.name}}</span>
            </div>

            <div class="buttton_items" display-flex margin-auto>
                <button class="save_button" cursor-pointer [ngClass]="{'opacity':statusesGroup.invalid}"
                    (click)="postAdminStatuses()"><span color-white>Save</span></button>
            </div>

        </form>
    </div>
</div>