<div class="text_content" display-flex full-width full-height>
    <mat-form-field *ngIf="inputType=='text' || inputType=='password' ||  inputType=='numberic' ||  inputType=='email-address' || inputType=='time' || inputType=='phone' || inputType=='bloogtype' || inputType=='date' "
        class="example-full-width">
        <input matInput [placeholder]="inputTitle" [value]="value" [disabled]="disable" [type]="checkInputType()" (change)="onChange($event)"
            (keyup)="onChange($event)">
    </mat-form-field>
</div>

<mat-form-field *ngIf="inputType=='select'" class="example-full-width">
    <input matInput [placeholder]="inputTitle" [disabled]="disable">
</mat-form-field>


<mat-radio-group *ngIf="inputType=='radio button' " aria-label="Select an option">
    <mat-radio-button [value]="value">{{inputTitle}}</mat-radio-button>
</mat-radio-group>
