
<i class="material-icons" (click)="openAddStatuses()" cursor-pointer>
    add
</i>


<div>
    <div class="roles_contet" full-width>
        <collapsible-table [type]="'accordion'" bordered>

            <thead style="background-color:#0277bd">
                <collapsible-table-row>
                    <th class="th-head">index</th>
                    <th class="th-head">name</th>
                    <th class="th-head">description</th>
                    <th class="th-head">Edit</th>
                    <th class="th-head">Delete</th>
                </collapsible-table-row>
            </thead>

            <tbody>
                <collapsible-table-row class="collapsible" [detail]="detail1"
                    *ngFor="let item of statusesItem;let ind=index">
                    <td class="td-header">{{ind+1}}</td>
                    <td class="td-header">{{item.name}}</td>
                    <td class="td-header">{{item.description}}</td>
                    <td class="td-header"><i class="material-icons" cursor-pointer (click)="openUpdateStatusModals(item)">
                        create
                        </i></td>
                    <td class="td-header"><i class="material-icons" cursor-pointer (click)="deleteStatus(item)">
                            delete
                    </i></td>
                </collapsible-table-row>


            </tbody>
        </collapsible-table>
    </div>
    <app-paginator [pageLength]="pageLength" [count]="statusesData.length" (paginate)="onChangeStatuses($event)"></app-paginator>
</div>