<div>httbrt</div>


<!-- <div class="inner" *ngIf="isInnerOpen">
        <div class="inner_content">
            <div class="container">
                <div class="name">child:</div>
                <div>firstName:{{listItemData.child.firstName}}</div>
                <div>lastName:{{listItemData.child.lastName}}</div>
                <div>middleName:{{listItemData.child.middleName}}</div>
                <div>birthPlace:{{listItemData.child.birthPlace}}</div>
                <div>birthCity:{{listItemData.child.birthCity}}</div>
                <div>birthDate:{{listItemData.child.birthDate}}</div>
                <div>birthTime:{{listItemData.child.birthTime}}</div>
                <div>bloodType:{{listItemData.child.bloodType}}</div>
                <div>plurality:{{listItemData.child.plurality}}</div>
                <div>sex:{{listItemData.child.sex}}</div>
                <div>country:{{listItemData.child.country}}</div>
            </div>
            <div class="container">
                <div class="name">Parent:</div>
                <div>fatherBirthCountry:{{listItemData.parents.fatherBirthCountry}}</div>
                <div>fatherBirthDate:{{listItemData.parents.fatherBirthDate}}</div>
                <div>fatherFirstName:{{listItemData.parents.fatherFirstName}}</div>
                <div>fatherMiddleName:{{listItemData.parents.fatherMiddleName}}</div>
                <div>fatherProfession:{{listItemData.parents.fatherProfession}}</div>
                <div>fatherResidenceCity:{{listItemData.parents.fatherResidenceCity}}</div>
                <div>motherAddress:{{listItemData.parents.motherAddress}}</div>
                <div>motherBirthDate:{{listItemData.parents.motherBirthDate}}</div>
                <div>motherBirthPlace:{{listItemData.parents.motherBirthPlace}}</div>
                <div>motherEmail:{{listItemData.parents.motherEmail}}</div>
                <div>motherFirstName:{{listItemData.parents.motherFirstName}}</div>
                <div>motherLastName:{{listItemData.parents.motherLastName}}</div>
                <div>motherMaidenName:{{listItemData.parents.motherMaidenName}}</div>
                <div>motherMiddleName:{{listItemData.parents.motherMiddleName}}</div>
                <div>motherProfession:{{listItemData.parents.motherProfession}}</div>
                <div>motherResidenceCity:{{listItemData.parents.motherResidenceCity}}</div>
                <div>motherResidenceCountry:{{listItemData.parents.motherResidenceCountry}}</div>
                <div>motherResidenceState:{{listItemData.parents.motherResidenceState}}</div>
            </div>
            <div class="container">
                <div class="name">informantInformation:</div>
                <div>firstName:{{listItemData.informantInformation.firstName}}</div>
                <div>lastName:{{listItemData.informantInformation.lastName}}</div>
                <div>relationshipToChild:{{listItemData.informantInformation.relationshipToChild}}</div>
            </div>
            <div class="container">
                <div class="name">staffRecording:</div>
                <div>department:{{listItemData.staffRecording.department}}</div>
                <div>firstName:{{listItemData.staffRecording.firstName}}</div>
                <div>lastName:{{listItemData.staffRecording.lastName}}</div>
                <div>organizationAddress:{{listItemData.staffRecording.organizationAddress}}</div>
                <div>organizationId:{{listItemData.staffRecording.organizationId}}</div>
                <div>organizationName:{{listItemData.staffRecording.organizationName}}</div>
                <div>signature:{{listItemData.staffRecording.signature}}</div>
                <div>title:{{listItemData.staffRecording.title}}</div>
                <div>userId:{{listItemData.staffRecording.userId}}</div>
            </div>
            <div class="container">
                <div class="name">system:</div>
                <div>authOfCertificate:{{listItemData.system.authOfCertificate}}</div>
                <div>birthCertificateId:{{listItemData.system.birthCertificateId}}</div>
                <div>location:{{listItemData.system.location}}</div>
                <div>timeStamp:{{listItemData.system.timeStamp}}</div>
            </div>
            <div class="container">
                <div class="name">attendantInformation:</div>
                <div>attendant:{{listItemData.attendantInformation.attendant}}</div>
                <div>firstName:{{listItemData.attendantInformation.firstName}}</div>
                <div>lastName:{{listItemData.attendantInformation.lastName}}</div>
                <div>staffCity:{{listItemData.attendantInformation.staffCity}}</div>
                <div>title:{{listItemData.attendantInformation.title}}</div>
                <div>userId:{{listItemData.attendantInformation.userId}}</div>
            </div>
            <div class="container">
                <div class="name">certifierInformation:</div>
                <div>acceptCertificate:{{listItemData.certifierInformation.acceptCertificate}}</div>
                <div>city:{{listItemData.certifierInformation.city}}</div>
                <div>email:{{listItemData.certifierInformation.email}}</div>
                <div>firstName:{{listItemData.certifierInformation.firstName}}</div>
                <div>lastName:{{listItemData.certifierInformation.lastName}}</div>
                <div>signatureDate:{{listItemData.certifierInformation.signatureDate}}</div>
                <div>state:{{listItemData.certifierInformation.state}}</div>
                <div>zip:{{listItemData.certifierInformation.zip}}</div>
            </div>
            <div class="container">
                <div class="name">updatedAt</div>
                <div>updatedAtL:{{listItemData.updatedAt}}</div>

            </div>
        </div>
    </div> -->