<div class="list_item_container">
    <div class="row_item" cursor-pointer (click)="openHumanItems()">
        <div>
            {{listItemData.information.child.firstName}}
        </div>
        <div>
            {{listItemData.information.child.lastName}}
        </div>
        <div>
            {{listItemData.information.child.middleName}}
        </div>
        <div>
            {{listItemData.information.child.birthPlace}}
        </div>
        <div>
            {{listItemData.information.child.birthCity}}
        </div>
    </div>

</div>