.list_item_container {
    margin-bottom: 10px;
    .row_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        background-color: #0277bd;
        cursor: pointer;
        div {
            color: white;
        }
    }
    .inner_content {
        padding: 0.5em 0.5em;
        .container {
            margin-top: 10px;
            .name{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}