/* You can add global styles to this file, and also import other style files */

@import "src/app/com/annaniks/style/variable.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

thead {
    background: #ffffff !important;
    border-bottom: 1px solid #EEEEEE !important;
}



app-toolbar {
    background-color: #2f4050;
    color: #676a6c;
    z-index: 100;
    position: relative;
}

collapsible-table-row {
    height: 50px !important;
    vertical-align: middle !important;
}

.collapsible {
    background: none !important;
    border-bottom: 1px solid #e7eaec !important;
}

.th-head {
    font-weight: normal;
    text-align: left !important;
    padding: 0 20px !important;
    text-transform: capitalize;
    color: #888888;
    font-size: 14px;
}

.td-header {
    text-align: left !important;
    padding: 0 20px !important;
}
.back,.add_contnet {
    border-bottom: 1px solid #e7eaec;
    color: #838790;
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-top: 7px;
}
.add_content .form_group {
    width: 391.3px !important;
    margin: 30px auto 0 !important;
}

.control-icon i {
    font-size: 18px;
    color: #838790;
}

.info-block {
    background:#f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    border: 1px solid rgba(24, 28, 33, 0.06);
    margin-bottom: 30px;
    text-align: center;
}

.inner {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
    border: 1px solid rgba(24, 28, 33, 0.06);
    margin-bottom: 30px;
    text-align: center;
}
.info-block button {
    margin: 0 5px;
}
.mat-form-field {
    margin: 0 auto;
}
.mat-form-field-infix {
    width: 400px !important;
}
.add_content .form_group .label {
    color: #616161 !important;
    margin: 10px 0 !important;
    display: block !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(24, 28, 33, 0.06) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #2196f3 !important;
}


.add_content .add_conteiner .item_congo .icon_contet,
.add_content .add_conteiner .item_content .icon_contet,
.add_content .add_conteiner .name_content .icon_contet,
.add_content .add_conteiner .title_content .icon_contet {
    width: 47.3px !important;
    height: 42px !important;
    color: #9E9E9E !important;
    background: #F5F5F5 !important;
    border-radius: 3px 0 0 3px !important;
}

.add_content .add_conteiner .item_congo .item,
.add_content .add_conteiner .item_congo .name,
.add_content .add_conteiner .item_congo .permissions,
.add_content .add_conteiner .item_congo .title,
.add_content .add_conteiner .item_content .item,
.add_content .add_conteiner .item_content .name,
.add_content .add_conteiner .item_content .permissions,
.add_content .add_conteiner .item_content .title,
.add_content .add_conteiner .name_content .item,
.add_content .add_conteiner .name_content .name,
.add_content .add_conteiner .name_content .permissions,
.add_content .add_conteiner .name_content .title,
.add_content .add_conteiner .title_content .item,
.add_content .add_conteiner .title_content .name,
.add_content .add_conteiner .title_content .permissions,
.add_content .add_conteiner .title_content .title {
    width: calc(100% - 80px) !important;
    border: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 14px !important;
}

.add_content .add_conteiner .item_congo,
.add_content .add_conteiner .item_content,
.add_content .add_conteiner .name_content,
.add_content .add_conteiner .title_content {
    width: 391.3px !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    border: 1px solid #E0E0E0 !important;
    height: 44px !important;
}

.add_content .add_conteiner .buttton_items .save_button {
    width: 100px !important;
    height: 44px !important;
    border-radius: 3px !important;
    background-color: #2196F3 !important;
    display: inline-block !important;
    text-align: center !important;
    border: none !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-stretch: normal !important;
}